@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  background-image: linear-gradient(
    to right top,
    #051937,
    #3f3a63,
    #7a5f8e,
    #bb85b7,
    #ffaedc
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body h2 {
  margin: 30px;
  color: #ffaedc;
  font-weight: 600;
}
body h2 p {
  font-weight: 500;
  color: #051937;
  font-size: 20px;
  margin: -7px;
}
svg {
  width: 25px;
  height: 25px;
  fill: white;
}
section.container {
  display: flex;
}
div.tags {
  background: #000000;
  padding: 40px 45px;
  border-radius: 20px;
  color: #fff;
}

div.tag {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
div.tag.active {
  background-color: #ffaedc;
  color: #000;
  -webkit-box-shadow: inset -26px 30px 21px -29px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -26px 30px 21px -29px rgba(0, 0, 0, 1);
  box-shadow: inset -26px 30px 21px -29px rgba(0, 0, 0, 1);
}
div.tag .svgActive {
  fill: black;
}
div.tag p {
  margin: 0;
  margin-left: 10px;
}
div.contents {
  padding-left: 100px;
}
section.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

div.contents {
  padding-left: 100px;
  width: 700px;
}
div.contents .content {
  margin-top: 60px;
  font-weight: 600;
}

div.content .content-head {
  margin: 20px 0 20px 0;
}

div.content svg {
  fill: black;
  width: 15px;
  height: 20px;
  cursor: pointer;
}
div.content .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

hr {
  border: 1px solid #112040;
}
.head-p {
  padding-top: 25px;
  padding-left: 40px;
  font-weight: 600;
  font-size: 14px;
}

.contents h2 {
  margin: 0;
  font-size: 32px;
  color: #000;
}

@media screen and (max-width: 1200px) {
  section.container {
    width: 650px;
    display: flex;
    align-items: flex-start;
  }

  div.tags {
    padding-top: 0;
    padding-bottom: 0;
    padding: 0px 45px;
  }
  div.contents {
    width: 500px;
    padding-left: 50px;
    margin-bottom: 20px;
  }

  div.contents .content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  body {
    height: 100%;
  }
  section.container {
    flex-direction: column;
    width: 300px;
  }

  .tags {
    margin-top: 15px;
    padding: 0 25px;
  }
  div.contents {
    width: 300px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  div.contents .content {
    margin-top: 30px;
  }
}
